#header {
    background: url("../images/bg.png") repeat-x scroll left top transparent;
    height: 42px;
    left: 0;
    top: 0;
    width: 100%;
}

#header #logo {
    background: url("../images/logo.png") no-repeat scroll left center transparent;
    display: block;
    height: 0;
    margin: 0 5px 0 20px;
    overflow: hidden;
    padding-top: 43px;
    width: 141px;
}

#google_maps {
    display: block;
    height: 90%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}